<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm"  *ngIf="!isLoading">
        <mat-form-field>
            <input 
                matInput rows="6"
                name="title" 
                [ngModel]="post?.title"
                required
                minlength="3"
                #title="ngModel"
                placeholder="Post Title"
            />
            <mat-error *ngIf="title.invalid">PLEASE ENTER A POST TITLE</mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">PICK IMAGE</button>
            <input type="file" #filePicker>
        </div>
        <mat-form-field>
            <textarea 
                matInput rows="6" 
                name="content" 
                [ngModel]="post?.content"
                required
                minlength="3"
                #content="ngModel"
                placeholder="Post Content"
            >
            </textarea>
            <mat-error *ngIf="content.invalid">PLEASE ENTER A CONTENT</mat-error>
        </mat-form-field>
        
        <button 
            mat-raised-button
            color="primary" 
            type ="submit"
        >
            POST
        </button>
    </form>
</mat-card>