<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
        <mat-form-field>
            <input 
                matInput rows="6"
                formControlName="title" 
                placeholder="Post Title"
            />
            <mat-error *ngIf="form.get('title').invalid">PLEASE ENTER A POST TITLE</mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">PICK IMAGE</button>
            <input type="file" #filePicker>
        </div>
        <mat-form-field>
            <textarea 
                matInput rows="6" 
                formControlName="content" 
                placeholder="Post Content"
            >
            </textarea>
            <mat-error *ngIf="form.get('content').invalid">PLEASE ENTER A CONTENT</mat-error>
        </mat-form-field>
        
        <button 
            mat-raised-button
            color="primary" 
            type ="submit"
        >
            POST
        </button>
    </form>
</mat-card>